<%- include("partials/header"); -%>

<div class="container">
  <div class="card">
    <div class="card-body text-center">
      <h2>Made with ❤️ by Lekhan.</h2>
      <h5><%= aboutContent %></h5>
      <div class="social-links">
         <h3>Connect with me here:</h3>
        <a href="mailto: adityamishra.me@gmail.com" class="fas fa-envelope"></a>
        <a href="https://x.com/adityam39992974" class="fab fa-twitter"></a>
        <a href="https://www.linkedin.com/in/aditya-mishra-6k/" class="fab fa-linkedin"></a>
        <a href="https://github.com/aditya2131" class="fab fa-github"></a>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
